.experience {
  width: 100%;
  margin: 0 auto;
  @include media(lg) {
    & > .text-block__inner {
      margin-right: 9.8vw;
    }
  }

  &__text {
    padding: 0 20px;

    @include media(lg) {
      padding: 0;
      max-width: 550px;
    }
  }

  &__picture {
    @include media(lg) {
      min-width: 45%;
    }

    & picture {
      padding: 0 20px;

      @include media(lg) {
        padding: 0;
      }
    }

    & img {
      box-sizing: border-box;
      width: 100%;
      height: auto;
      object-fit: cover;
      border-radius: 20px;

      @include media(lg) {
        border-radius: 0 20px 20px 0;
      }
    }
  }
}
