* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.game-field {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.controls {
  width: 15vw;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;

  background-color: teal;
  color: #f2f2f2;
}

.tank {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 100px;
  left: 100px;
  transition: top 0.1s linear, left 0.1s linear;
}

.cartridge {
  position: absolute;
  width: 10px;
  height: 1000px;
  background-color: brown;
}
