.text-block {
  @include flex(stretch, initial, column);
  gap: 32px;
  padding: 40px 0;

  @include media(lg) {
    flex-direction: row;
    gap: 0;
    align-items: center;
  }

  &--reverse {
    @include media(lg) {
      flex-direction: row-reverse;
      justify-content: flex-end;
    }
  }

  &__highlight {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.175em;

    text-transform: uppercase;

    color: $orange;
    margin-bottom: 22px;
  }

  & .section-text {
    margin: 22px 0;
  }
}
