$white: #ffffff;
$black: #1e1e1e;
$light-grey: #f7f7f7;
$grey: #eeeeee;
$orange: #e58411;
$light-orange: #f6b76f;

* {
  font-family: "Poppins", sans-serif;
  color: $black;
}

.container {
  box-sizing: border-box;
  max-width: 1280px;
  width: 100%;
  padding: 20px;
}
