.navigation {
  padding: 32px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__link {
    text-decoration: none;
    font-size: 12px;
    line-height: 14px;

    &:hover {
      text-decoration: underline;
    }
  }
}

.company-logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 30px;
  text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.5);
  background-clip: text;
}
